*.pyc
*~
*.swp

source-packages/google-android-*-installer/debian/debhelper-build-stamp
source-packages/google-android-*-installer/debian/files
source-packages/google-android-*-installer/debian/google-android-*-installer.debhelper.log
source-packages/google-android-*-installer/debian/google-android-*-installer.postrm.debhelper
source-packages/google-android-*-installer/debian/google-android-*-installer.substvars
source-packages/google-android-*-installer/debian/google-android-*-installer/
source-packages/google-android-*-installer_*.*
