debian/debhelper-build-stamp
debian/files
debian/google-android-platform-*-installer.debhelper.log
debian/google-android-platform-*-installer.postrm.debhelper
debian/google-android-platform-*-installer.substvars
debian/google-android-platform-*-installer/
