*.pyc
*~
*.swp
debian/debhelper-build-stamp
debian/files
debian/google-android-*-installer.debhelper.log
debian/google-android-*-installer.postrm.debhelper
debian/google-android-*-installer.substvars
debian/google-android-*-installer/
