Source: google-android-installers
Section: contrib/devel
Priority: optional
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Mouaad Aallam <Mouaad@Aallam.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://developer.android.com/about/index.html
Vcs-Git: https://alioth.debian.org/anonscm/git/android-tools/google-android-installers.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/google-android-installers.git

Package: google-android-platform-24-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 24 Installer
 This package will download the Google's Android SDK Platform 24 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be 
 specified as build target.
 .
 WARNING: Installing this Debian package causes platform-24_r01.zip to be
 downloaded from dl.google.com and/or from other suggested mirrors. The End
 User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-23-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 23 Installer
 This package will download the Google's Android SDK Platform 23 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be 
 specified as build target.
 .
 WARNING: Installing this Debian package causes platform-23_r03.zip to be
 downloaded from dl.google.com and/or from other suggested mirrors. The End
 User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-22-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 22 Installer
 This package will download the Google's Android SDK Platform 22 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be 
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-22_r02.zip to be
 downloaded from dl.google.com and/or from other suggested mirrors. The End
 User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-21-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 21 Installer
 This package will download the Google's Android SDK Platform 21 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-21_r02.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-20-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 20 Installer
 This package will download the Google's Android SDK Platform 20 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-20_r02.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-19-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 19 Installer
 This package will download the Google's Android SDK Platform 19 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-19_r04.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-18-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 18 Installer
 This package will download the Google's Android SDK Platform 18 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-18_r03.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-17-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 17 Installer
 This package will download the Google's Android SDK Platform 17 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-17_r03.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-16-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 16 Installer
 This package will download the Google's Android SDK Platform 16 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-16_r05.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-15-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 15 Installer
 This package will download the Google's Android SDK Platform 15 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-15_r05.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-14-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 14 Installer
 This package will download the Google's Android SDK Platform 14 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-14_r04.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-13-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 13 Installer
 This package will download the Google's Android SDK Platform 13 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-3.2_r01.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-12-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 12 Installer
 This package will download the Google's Android SDK Platform 12 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-3.1_r03.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-11-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 11 Installer
 This package will download the Google's Android SDK Platform 11 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-3.0_r02.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-10-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 10 Installer
 This package will download the Google's Android SDK Platform 10 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-2.3.3_r02.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-9-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 9 Installer
 This package will download the Google's Android SDK Platform 9 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-2.3.1_r02.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-8-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 8 Installer
 This package will download the Google's Android SDK Platform 8 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-2.2_r03.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-7-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 7 Installer
 This package will download the Google's Android SDK Platform 7 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-2.1_r03.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-6-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 6 Installer
 This package will download the Google's Android SDK Platform 6 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-2.0.1_r01-linux.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-5-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 5 Installer
 This package will download the Google's Android SDK Platform 5 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-2.0_r01-linux.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-4-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 4 Installer
 This package will download the Google's Android SDK Platform 4 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-1.6_r03-linux.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-3-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 3 Installer
 This package will download the Google's Android SDK Platform 3 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-1.5_r04-linux.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-platform-2-installer
Architecture: all
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google's Android SDK Platform 2 Installer
 This package will download the Google's Android SDK Platform 2 package and
 unpacks it into Debian-friendly paths.
 .
 Google's Android SDK Platform includes android.jar file with fully compliant
 Android library. In order to build an Android app, this SDK platform must be
 specified as build target.
 .
 WARNING: Installing this Debian package causes android-1.1_r1-linux.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-ndk-installer
Architecture: amd64
Depends: ${googleAndroidInstallers:Depends},
         ${misc:Depends}
Description: Google Android Native Development Kit (NDK) Installer
 This package will download the Google Android NDK package and create a Debian
 package.
 . 
 The Android NDK is a toolset that lets you implement parts of your app using
 native-code languages such as C and C++. For certain types of apps, this can
 help you reuse existing code libraries written in those languages.
 .
 WARNING: Installing this Debian package causes android-ndk-r*-linux-x86_64.zip
 to be downloaded from dl.google.com and/or from other suggested mirrors. The
 End User License Agreement of this binary package is available at
 developer.android.com.

Package: google-android-sdk-docs-installer
Architecture: all
Depends: fonts-roboto,,
         ${googleAndroidInstallers:Depends},
         ${misc:Depends},
Description: Android SDK Documentation from Google
 This package will download the Android SDK Documentation from Google and
 create a Debian package.  This package also aims to strip out all calls to
 the networking, including tracking services like Google Analytics and
 Doubleclick. These documentation files still require the Google "jsapi",
 which is only available by fetching it each time from
 http://www.google.com/jsapi.  This package forces it to use https://, but
 otherwise, these docs have to phone home in order for any of the javascript
 to work.
 .
 WARNING: Installing this Debian package causes docs-*.zip to be downloaded
 from https://dl.google.com and/or from other suggested mirrors. 
 Also, since Google is often blocked in China, the install process will try
 again on Chinese mirrors if the Google central download repo is not 
 available.  Since the zipball is checked against the embedded SHA1 checksum,
 the install will fail if the mirror contains a corrupted version.
 .
 The End User License Agreement of this binary package is available here:
  https://developer.android.com/sdk/terms.html
 .
 The code in the documentation is licensed under the Apache 2.0, and
 the content is licensed under Creative Commons CC-BY 2.5.  The CC-BY
 2.5 license is non-free but can be legally distributed by Debian.
 This package avoids the issue all together since each user directly
 downloads the files from Google, and must agree to Google's license.
